

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    align-content: center;
    text-align: center;
}

footer {
    padding-top: 100px;
}

#loginform {
    padding-top: 15px;
}

/* time series bar graph */


.nvd3 line.nv-guideline { /* Hide the guideline */
    display: none;
    stroke-width: 0.0;
}

.nvd3 .nv-bars rect { /* fix the hover guideline to be snappy */
    transition: fill-opacity 0ms linear;
    -moz-transition: fill-opacity 0ms linear;
    -webkit-transition: fill-opacity 0ms linear;
}

.nvd3 .nv-x .nv-axis .x-axis-tick-mark {
    stroke:  #ffffff; /* black tick marks */
}

.nvd3 .nv-y .nv-axis .tick.zero line {
    stroke:  #ffffff; /* black line for the x axis */
}

.spaced {
    float: left;
    margin: 10px 0 10px 10px;
}

.svg-container {
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
}

#barchart1 {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    height: 500px;
    width: 800px;
    color: #ffffff;
}



